.intro{
  background-color: #f1f150;
  display: flex;
  background-repeat: no-repeat;
  background-size: cover;

  .left{
    overflow: hidden;
    .imgContainer{
      width: 700px;
      height: 650px;
      display: flex;
      align-items: center;
      justify-content: center;
      img{
        height: 90%;
      }
    }
  }
  .right{
    position: relative;
    flex:1;
    .wrapper{
      width: 100%;
      height: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      h1{
        font-size: 60px;
        font-family: Means Web,Georgia,Times,Times New Roman,serif;
        margin: 10px 0;
        color: #031142;
        @media (max-width: 700px) {
         font-size: 40px;
        }
      }
      h2{
        font-size: 35px;
        color: #8530db;
      }
      h3{
        font-size: 30px;
        color:#8530db;
        span{
          color: red;
        }
      }
      h4{
        color:black;
        font-size: 20px;
        @media (max-width: 700px) {
          margin: 10px;
          text-align: justify;
          text-justify: inter-word;
          font-size: 18px;
        }
      }
      .fa-linkedin{
        background: black;
        color: white;
        font-size: 30px;
        margin-top: 18px;
        margin-right: 8px;
        padding: 10px;
        border-radius: 8px;
      }
      .fa-github{
        background-color: black;
        color: white;
        margin-top: 18px;
        margin-right: 8px;
        font-size: 30px;
        padding: 10px;
        border-radius: 8px;
      }
      .fa-folder{
        background-color: black;
        color: white;
        margin-top: 18px;
        margin-right: 8px;
        font-size: 30px;
        padding: 10px;
        border-radius: 8px;
        cursor: pointer;
      }
      .fa-folder .resume_text{
        visibility: hidden;
        width: 120px;
        font-size: 12px;
        background-color: black;
        color: white;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;

        /* Position the tooltip */
        position: absolute;
        z-index: 1;
      }

      .fa-folder:hover .resume_text{
        visibility: visible;
      }
      .fa-github:hover{
        background-color: #05614f;
      }
      .fa-linkedin:hover{
        background-color: #2098d9;
      }
      .fa-folder:hover{
        background-color: #ac92e8;
      }
    }
  }
}